input::-webkit-input-placeholder {
    opacity: 1;
  }
  
  input::placeholder {
    opacity: 1;
  }
  
  input:focus::-webkit-input-placeholder {
    opacity: 0;
  }
  
  input:focus::placeholder {
    opacity: 0;
  }
  
  label:focus input::-webkit-input-placeholder {
    opacity: 0;
  }
  
  label:focus input::placeholder {
    opacity: 0;
  }
  